// Here you can add other styles
.button-colour {
  background-color: #D0A443;
}

.primary-colour {
  background-color: #212759;
}

.secondary-colour {
  background-color: #7D0F03;
}

.large-spacer {
  margin: 32px;
}

.small-spacer {
  margin: 14px;
}

.cursor-pointer {
  cursor: pointer;
}

.background-white {
  background-color: #fff;
}

.collapse-scroll {
  overflow-y: auto;
  max-height: 59vh;
}

.text-center {
  text-align: center;
}

.pointer {
  cursor: pointer;
}

.split-screen {
  height: 100%;
  padding: 0;
  margin: 0;
}

.single-screen {
  width: 50%;
  height: 50%;
  float: left;
  padding: 20px;
  background-color: #7D0F03;
  color: #212759;
}
