// Here you can add other styles
.button-colour {
  background-color: #D0A443;
}

.primary-colour {
  background-color: #212759;
}

.secondary-colour {
  background-color: #7D0F03;
}

.large-spacer {
  margin: 32px;
}

.small-spacer {
  margin: 14px;
}

.cursor-pointer {
  cursor: pointer;
}

.background-white {
  background-color: #fff;
}

.collapse-scroll {
  overflow-y: auto;
  max-height: 59vh;
}

.height-100 {

}

.pointer {
  cursor: pointer;
}
